@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
  
</div>
<h3><a href="/Home/Intro">Введение в ASP</a></h3>
<h3><a href="/Home/Razor">Razor</a></h3>
<h3><a asp-controller="Home" asp-action="Services">Службы и зависимости</a></h3>
<h3><a asp-controller="Home" asp-action="Data">Data Context</a></h3>
<h3><a asp-controller="Home" asp-action="Sessions">Sessions</a></h3>
<h3><a asp-controller="Home" asp-action="Middleware">Middleware</a></h3>

<hr/>

<h3><a asp-controller="Front" asp-action="Index">Распределенная архитектура</a></h3>


<p>
    <b>ASP</b> - Active Server Pages - комплекс или фреймворк .NET 
    для разработки серверных приложений
</p>
<p>
    Отличительной особенностью является согласование работы 
    различных частей приложения по совпадению имен классов,представлений с названием файлов,
    папок и частей URL - запроса.
</p>
<p>
    !! Если проект создан с названием,содержащим спецсимволы,то
    необходимо поправить ссылку на стили в _layout.cshtml
</p>
